/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #06FDFE; 
    padding: 20px;
    margin: 0;
    text-align: center; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
}

/* Styling tabel */
table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto; 
    background-color:#FAEFE6; 
    border-collapse: collapse;
    border-spacing: 0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #FE69B3; 
}

/* Styling garis pada tabel */
th, td {
    border: 2px solid #FE69B3;
    padding: 12px;
    text-align: left;
    color: #333;
}

/* Header tabel */
th {
    background-color:#FAEFE6; 
    color: black;
}

/* Penekanan pada total */
td b {
    color:black; /* Warna untuk total tagihan */
    font-size: 1.1em;
}

/* Metode pembayaran */
input[type="radio"] {
    margin-right: 10px;
}

label {
    margin-right: 20px;
}

/* Styling untuk kolom*/
td[colspan="4"] p {
    color: black; 
    font-weight: bold;
}

td[colspan="4"] a {
    color:aqua; 
}

td[colspan="4"] a:hover {
    text-decoration: underline;
}

/* Responsive design */
@media (max-width: 768px) {
    table {
        width: 100%; /* Menyesuaikan lebar tabel pada perangkat kecil */
    }

    th, td {
        font-size: 14px;
        padding: 8px;
    }

    img {
        width: 120px; /* Mengurangi ukuran gambar di layar kecil */
    }
}

@media (max-width: 480px) {
    th, td {
        font-size: 12px;
    }

    td[colspan="4"] p {
        font-size: 14px; /* Menyesuaikan ukuran teks */
    }

    td[colspan="4"] a {
        font-size: 14px; /* Menyesuaikan ukuran link */
    }
}
